:root {
  --branding-color-1: #fdec2ce3;
  --branding-color-2: #027d7f;
  --branding-color-3: #f09fba;
  --branding-color-4: #f84785;
  --branding-color-5: #fff9f2;
  --branding-color-6: #e5fcfb;
  --branding-color-7: #20a3a885;
  --branding-color-8: #dff7f7;
  --branding-color-9: #f66497;
  --branding-color-10: #007678;
  --branding-color-11: #bae8f3;
  --branding-color-12: #ffffff;
  --branding-color-13: rgb(87, 87, 87);
  --branding-color-14: #fefafb;
}

:root {
  --primary-font-family: "SUSE", sans-serif;
  --secondary-font-family: "Mulish", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--branding-color-10);
  font-weight: bold;
  font-family: var(--primary-font-family);
  line-height: 1.5;
}

p {
  font-family: var(--secondary-font-family);
}

img {
  width: 100%;
  height: 200px;
}

body {
  background: radial-gradient(circle at -8.9% 51.2%, #fdec2ce3 0%, #f66497 15.9%, #f73f7f 15.9%, #f84785 24.4%, #007678 24.5%, #027d7f 66%);
  font-family: var(--secondary-font-family);
  color: var(--branding-color-13);
  line-height: 1.5;

}

.hero {
  background-color: var(--branding-color-8);
  color: var(--branding-color-10);
  font-family: var(--primary-font-family);
  text-align: center;
  padding: 160px 20px;
  line-height: 1.5;
}

.hero h1 {
  font-size: 48px;
  font-weight: bolder;
}


.hero p{
  text-align: center;
  font-size: 20px;
  font-family: var(--secondary-font-family);
  color: var(--branding-color-13);
  font-weight: lighter;
}


.hero-buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  margin-top: 20px;
  font-family: var(--secondary-font-family);
}

.about-btn {
  border: 2px solid var(--branding-color-9);
  border-radius: 25px;
  color: #ffffff;
  background-color: var(--branding-color-4);
  margin: 10px 20px;
  padding: 8px 24px;
}

.contact-btn{
  border: 2px solid var(--branding-color-9);
  border-radius: 25px;
  color: var(--branding-color-9);
  margin: 10px 20px;
  padding: 8px 24px;
}

.work-btn {
  border: 2px solid var(--branding-color-9);
  border-radius: 25px;
  color: #ffffff;
  background-color: var(--branding-color-4);
  margin: 10px 20px;
  padding: 8px 24px;
}

.about-btn:hover {
  border: 2px solid var(--branding-color-9);
  background-color: var(--branding-color-8);
  color: var(--branding-color-9);
}

.contact-btn:hover {
  border: 2px solid var(--branding-color-9);
  background-color: var(--branding-color-4);
  color: var(--branding-color-12);
}

.work-btn:hover {
  border: 2px solid var(--branding-color-9);
  background-color: var(--branding-color-8);
  color: var(--branding-color-9);
}

.previous-project-banner {
  background: linear-gradient(108.1deg, var(--branding-color-7) 11.2%, var(--branding-color-8) 88.9%);;
  color: var(--branding-color-5);
  text-align: left;
  padding: 15px 40px;
}

.hero-content h4 {
  font-size: 20px;
}

.launch-btn {
  border: 1px solid var(--branding-color-9);
  border-radius: 8px;
  color: var(--branding-color-9);
  padding: 8px 16px;
}

.launch-btn:hover {
  border: 2px solid var(--branding-color-9);
  background-color: var(--branding-color-9);
  color: var(--branding-color-12);
}

@media (max-width: 900px) {
  .hero h1 {
    font-size: 50px;
    padding: 0 8px;
  }
  .hero p {
    font-size: 26px;
    padding: 0 15px;
  }
  .hero a {
    margin-top: 20px;
    font-size: 26px;
  }
  
  h2 {
    font-size: 3rem;
  }
  
  h3, h4, h5, h6 {
    font-size: 1.9rem;
  }
  
  p {
    font-size: 1.2rem;
  }
  
  .launch-btn, .launch-btn:hover {
    font-size: 24px;
    display: block;
  }
}

/* ABOUT PAGE */
.about-section {
  background-color: var(--branding-color-6);
  border-radius: 50px 10px;
  margin-top: 10px;
  padding: 30px 20px;
  
}

.about-section img {
  height: 400px;
  width: auto;
  border-radius: 10px 50px;
}


/* CREATIVE SECTION  */
.creative {
  background-color: var(--branding-color-12);
  margin-top: 50px;
  padding-bottom: 15px;
  border-radius: 15px;
}


.creative h2 {
  font-size: 28px;
  padding: 20px 15px;
  color: var(--branding-color-10);
  font-family: var(--primary-font-family);
}

.creative p {
  font-size: 16px;
  padding: 0 15px;
  color: var(--branding-color-13);
  font-family: var(--secondary-font-family);
}


/* ABOUT SKILLS ETC SECTION */
.about-skills {
  background-color: var(--branding-color-9);
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 15px;
  border-radius: 15px;
}

.about-skills h2 {
  font-size: 28px;
  padding: 20px 15px;
  color: var(--branding-color-14);
  font-family: var(--primary-font-family);
}

.about-skills p {
  font-size: 16px;
  padding: 0 15px;
  color: var(--branding-color-8);
  font-family: var(--secondary-font-family);
}

.about-skills .contact-btn {
  border: 2x solid var(--branding-color-12);
  border-radius: 25px;
  color: var(--branding-color-12);
  background-color: var(--branding-color-2);
  margin: 10px 20px;
  padding: 8px 24px;
}

.about-skills .contact-btn:hover {
  border: 2px solid var(--branding-color-12);
  background-color: var(--branding-color-9);
  color: var(--branding-color-12);
}


/* MY WORK PAGE */
.work-hero {
  background-color: var(--branding-color-3);
  border-radius: 10px;
  margin-top: 10px;
  padding: 30px 0 40px 0;
  text-align: center;
}

.work-hero h2 {
  color: var(--branding-color-2);
  font-size: 48px;
}

.work-hero p {
  font-size: 14px;
}

.work-content img:hover {
  transform: scale(1.02);
}

.container {
  padding: 30px;
}

.work-hero-btns .contact-btn {
  border: 2px solid var(--branding-color-4);
  border-radius: 25px;
  background-color: var(--branding-color-12);
  color: var(--branding-color-4);
  margin: 10px 20px;
  padding: 8px 24px;
}

.work-hero-btns .contact-btn:hover {
  border: 2px solid var(--branding-color-9);
  background-color: var(--branding-color-4);
  color: var(--branding-color-12);
}

.img-border {
  border: 1px solid var(--branding-color-13);
}


/*  CONTACT PAGE  */

.contact-hero {
  background-color: var(--branding-color-3);
  border-radius: 10px;
  margin-top: 10px;
  padding: 40px;
  text-align: left;
}

